<div class="container-fluid">
    <select #selectList (change)="selectCamera(selectList.value)">
    <option *ngFor="let camera of cameras" value={{camera.label}}>
    {{ camera.label }}
    </option>
    </select>

    <zxing-scanner style="width: 500px;"
        [enable]="scannerEnabled"
        [device]="myDevice"
        (camerasFound)="camerasFoundHandler($event)"
        (scanSuccess)="scanSuccessHandler($event)"
    ></zxing-scanner>
    <app-clientes-item *ngIf="clienteEscaneado !== undefined"
        [cliente]="clienteEscaneado"
        [ultimoPago]="ultimoPago">
    </app-clientes-item>
    <!-- <p *ngFor="let result of results">{{result}}</p>  -->
</div>
