<div id="eliminarPagoModal" class="modal fade"
  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">      
        <div class="modal-header">						
          <h4 class="modal-title">Eliminar Pago</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmit()">
              <p>Estás seguro de eliminar este pago?</p>
            
          <div class="modal-footer">
            <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancelar">
            <input type="submit" class="btn btn-danger" data-bs-dismiss="modal" value="Eliminar">
          </div>

          </form>			
        </div>
        
    </div>
  </div>
</div>


