<div class="demo-button-container">
    <button mat-raised-button routerLink="/add-cliente" class="demo-button">
      Agregar cliente
    </button>

    <button (click)="imprimir()" mat-raised-button color="primary">
      Imprimir
  </button>
</div>




<p>
  <mat-form-field class="filter">
    <mat-label>Búsqueda</mat-label>
    <input matInput (keyup)="applyFilter($event)"  #input>
  </mat-form-field>
</p>

<!-- <table mat-table [dataSource]="dataSource" matSort #empTbSort="matSort"
 class="mat-elevation-z8"> -->

 <table mat-table [dataSource]="dataSource"
 class="mat-elevation-z8">

 
    <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? selection.toggle(row) : null"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>
    
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} {{element.apellido}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="dni">
      <th mat-header-cell *matHeaderCellDef> DNI </th>
      <td mat-cell *matCellDef="let element"> {{element.dni}} </td>
    </ng-container>

    <!-- <ng-container matColumnDef="pago" >
        <th mat-header-cell *matHeaderCellDef> Último pago </th>
        <td mat-cell *matCellDef="let element"> {{element.pago.seconds * 1000 | date: 'dd/MM/yyyy'}} </td>
    </ng-container>

    <ng-container matColumnDef="venc">
        <th mat-header-cell *matHeaderCellDef> Vencimiento </th>
        <td mat-cell *matCellDef="let element"> {{element.venc.seconds * 1000 | date: 'dd/MM/yyyy'}} </td>
    </ng-container> -->

    <!-- Name Column -->
    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Acciones </th>
        <td mat-cell *matCellDef="let element"> 
            <button [routerLink]="['/pagos/', element.id]" mat-icon-button color="primary">
                <mat-icon>attach_money</mat-icon>
            </button>
            <button mat-icon-button (click)="openDialog(element)">
              <mat-icon>menu</mat-icon>
            </button>
            <button [routerLink]="['/clientes/', element.id]" mat-icon-button color="accent">
                <mat-icon>edit</mat-icon>
            </button>
            <button (click)="delete(element.id)" mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
            </button>            
         </td>
    </ng-container>
  
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    
</table>
<mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5,10,15,20]"
              aria-label="Select page"
              #paginator>
</mat-paginator>