<div class="container-fluid">
<div class="cliente row align-items-center">
    <div class="col ml-auto mr-2">
        <div class="container infoCliente">
            <h2>
                {{cliente.nombre}} {{cliente.apellido}}
            </h2>
            <h3>DNI: {{cliente.dni}}</h3>
            <div *ngIf="ultimoPago">
                <h3>Último pago: {{ultimoPago.fechaPago | ddMmYYYYDate}}</h3>
                <h3>Último vencimiento: {{ultimoPago.fechaVenc | ddMmYYYYDate}}</h3>
                
                <div *ngIf="clienteActivo(ultimoPago.fechaVenc); else inactivo">                    
                    <h3>Quedan {{quedanDias(ultimoPago.fechaVenc)}} días</h3>
                    <span class="btn btn-success">ACTIVO</span>
                </div> 
                <ng-template #inactivo>
                    <span class="btn btn-danger">INACTIVO</span>
                </ng-template>
            </div>
        </div>
    </div>
    <div class="col-5 ml-auto mr-2">
        <qrcode 
        *ngIf="cliente.dni"
        [qrdata]="cliente.dni" [width]="200" [errorCorrectionLevel]="'H'"></qrcode> 
    </div>
</div>
</div>

