.cliente{
    background-color: #f4f4f4;
    margin: 5px;
    padding: 10px 20px;
}

.infoCliente{
    margin-top: 25px;
    margin-left: 100px;
}

.activo {
    width: 400px;
    height: 80px;
    font-size: -webkit-xxx-large;
}

.dias {
    font-size: -webkit-xxx-large;
}