.cliente{
    margin: 20px;
    display: flex;
}

.infoCliente{
    margin: auto;
    font-size: 28px;
    line-height: 40px;
}

.pago{
    font-size: 30px;
}

.nombre{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-weight: bold;
}

.activo {
    width: 300px;
    margin: auto;
    font-size: 20px;
    cursor: default;
    display: flex;
    justify-content: center;
}

.dias {
    font-size: 25px;
    font-weight: bold;
}

p{
    margin: 30px;
}