<div id="agregarPagoModal" class="modal fade"
  data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" 
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-md">
    <div class="modal-content">      
        <div class="modal-header">						
          <h4 class="modal-title">Agregar Pago</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="onSubmit()" autocomplete="off">

                <div class="form-control">
                  <label>Fecha de pago</label>
                  <input 
                      type="date" 
                      name="fechaPago" 
                      id="fechaPago"
                      [(ngModel)]="fechaPago"
                      required>
                </div>

                <div class="form-control">
                    <label>Fecha de vencimiento</label>
                    <input 
                        type="date" 
                        name="fechaVenc" 
                        id="fechaVenc"
                        [(ngModel)]="fechaVenc"
                        required>
                </div>
                
            <div class="modal-footer">
              <input type="button" class="btn btn-default" data-bs-dismiss="modal" value="Cancelar">
              <input type="submit" class="btn btn-success" data-bs-dismiss="modal" value="Agregar">
            </div>	
          </form>
        </div>
        
    </div>
  </div>
</div>

